{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay store-back-color"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
            <div class="image-container my-5">
                {% if storeitem.image_one %}
                <a href="{{ storeitem.image.url }}" target="_blank">
                    <img class="card-img-top image-container img-fluid" src="{{ storeitem.image_one.url }}" alt="{{ storeitem.name }}">
                    {% if storeitem.image_two %}
                    <img class="card-img-top image-container image-two" src="{{ storeitem.image_two.url }}" alt="{{ storeitem.name }}">
                    {% endif %}
                </a>
                {% else %}
                <a href="">
                    <img class="card-img-top image-container img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ storeitem.name }}">
                </a>
                {% endif %}
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <div class="storeitem-details-container mb-5 mt-md-5">
                <p class="mb-0">{{ storeitem.name }}</p>
                <p class="lead mb-0 text-left font-weight-bold"><i class="fa-solid fa-euro-sign"></i>{{ storeitem.price }}</p>
                {% if storeitem.category %}
                <p class="small mt-1 mb-0">
                    <a class="text-muted" href="{% url 'store' %}?category={{ storeitem.category.name }}">
                        <i class="fas fa-tags mr-1"></i>{{ storeitem.category.friendly_name }}
                    </a>
                </p>
                {% endif %}
                <p class="mt-3">{{ storeitem.description }}</p>
                <form class="form" action="{% url 'add_to_cart' storeitem.id %}" method="POST">
                    {% csrf_token %}
                    <div class="form-row">
                        {% with storeitem.size_option as s %}
                        {% if s %}
                            <div class="col-12">
                                <p><strong>Size:</strong></p>
                                <select class="form-control rounded-0 w-50" name="storeitem_size" id='id_storeitem_size'>
                                    <option value="xs">XS</option>
                                    <option value="s">S</option>
                                    <option value="m" selected>M</option>
                                    <option value="l">L</option>
                                    <option value="xl">XL</option>
                                </select>
                            </div>
                        {% endif %}
                        <div class="col-12">
                            <p class="mt-3"><strong>Quantity:</strong></p>
                                <div class="form-group w-50">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="decrement-qty btn btn-black rounded-0" 
                                                data-item_id="{{ storeitem.id }}" id="decrement-qty_{{ storeitem.id }}">
                                                <span class="icon">
                                                    <i class="fas fa-minus"></i>
                                                </span>
                                            </button>
                                        </div>
                                        <input class="form-control qty_input" type="number"
                                            name="quantity" value="1" min="1" max="99"
                                            data-item_id="{{ storeitem.id }}"
                                            id="id_qty_{{ storeitem.id }}">
                                        <div class="input-group-append">
                                            <button class="increment-qty btn btn-black rounded-0"
                                                data-item_id="{{ storeitem.id }}" id="increment-qty_{{ storeitem.id }}">
                                                <span class="icon">
                                                    <i class="fas fa-plus"></i>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                        </div>

                        <div class="col{% if s %}-12 mt-2{% endif %}">
                            <a href="{% url 'store' %}" class="btn btn-outline-black rounded-0 mt-5 notice-back">
                                <span class="icon">
                                    <i class="fas fa-chevron-left"></i>
                                </span>
                                <span class="text-uppercase">Keep Shopping</span>
                            </a>
                            <input type="submit" class="btn btn-black rounded-0 text-uppercase mt-5" value="Add to Cart">
                        </div>
                        <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        {% endwith %}
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'store/includes/quantity_script.html' %}
{% endblock %}