<!-- prettier-ignore -->
{% extends "base.html" %}
{% block banner_text %}Tenant Customers Only. Email info@fmci.ie for details.{% endblock %}
{% load static %}

{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %}

<!-- prettier-ignore -->
{% block content %}

<div class="overlay store-back-color"></div>
<div class="service-container" style="margin: 5%">
  <div class="container-fluid">
    <div class="row">
      <div class="col text-center mt-3">
        <h2 class="logo-font">Services</h2>
        <hr class="w-50 mb-1" />
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="image-container my-5">
          {% if services.0.image %}
          <a href="{{ services.0.image.url }}" target="_blank">
            <img
              class="card-img-top image-container img-fluid"
              src="{{ services.0.image.url }}"
              alt="{{ services.0.name }}"
            />
          </a>
          {% else %}
          <a href="">
            <img
              class="card-img-top image-container img-fluid"
              src="{{ MEDIA_URL }}noimage.png"
              alt="{{ services.0.name }}"
            />
          </a>
          {% endif %}
        </div>
      </div>
      <div class="col">
        <div class="container service-table">
          <span><h3>{{ services.0.friendly_name }}</h3></span>
          <table class="table">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">{{ services.0.tier_1 }}</th>
                <th scope="col">{{ services.0.tier_2 }}</th>
                <th scope="col">{{ services.0.tier_3 }}</th>
                <th scope="col">{{ services.0.tier_4 }}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">{{ compute.0.name }}</th>
                <td>{{ compute.0.item_1 }}</td>
                <td>{{ compute.0.item_2 }}</td>
                <td>{{ compute.0.item_3 }}</td>
                <td>{{ compute.0.item_4 }}</td>
              </tr>
              <tr>
                <th scope="row">{{ compute.1.name }}</th>
                <td>{{ compute.1.item_1 }}</td>
                <td>{{ compute.1.item_2 }}</td>
                <td>{{ compute.1.item_3 }}</td>
                <td>{{ compute.1.item_4 }}</td>
              </tr>
              <tr>
                <th scope="row">{{ compute.2.name }}</th>
                <td>{{ compute.2.item_1 }}</td>
                <td>{{ compute.2.item_2 }}</td>
                <td>{{ compute.2.item_3 }}</td>
                <td>{{ compute.2.item_4 }}</td>
              </tr>
              <tr>
                <th scope="row">{{ compute.3.name }}</th>
                <td>{{ compute.3.item_1 }}</td>
                <td>{{ compute.3.item_2 }}</td>
                <td>{{ compute.3.item_3 }}</td>
                <td>{{ compute.3.item_4 }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="image-container my-5">
          {% if services.1.image %}
          <a href="{{ services.1.image.url }}" target="_blank">
            <img
              class="card-img-top image-container img-fluid"
              src="{{ services.1.image.url }}"
              alt="{{ services.1.name }}"
            />
          </a>
          {% else %}
          <a href="">
            <img
              class="card-img-top image-container img-fluid"
              src="{{ MEDIA_URL }}noimage.png"
              alt="{{ services.1.name }}"
            />
          </a>
          {% endif %}
        </div>
      </div>
      <div class="col">
        <div class="container service-table">
          <span><h3>{{ services.1.friendly_name }}</h3></span>
          <table class="table">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">{{ services.1.tier_1 }}</th>
                <th scope="col">{{ services.1.tier_2 }}</th>
                <th scope="col">{{ services.1.tier_3 }}</th>
                <th scope="col">{{ services.1.tier_4 }}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">{{ digital.0.name }}</th>
                <td>{{ digital.0.item_1 }}</td>
                <td>{{ digital.0.item_2 }}</td>
                <td>{{ digital.0.item_3 }}</td>
                <td>{{ digital.0.item_4 }}</td>
              </tr>
              <tr>
                <th scope="row">{{ digital.1.name }}</th>
                <td>{{ digital.1.item_1 }}</td>
                <td>{{ digital.1.item_2 }}</td>
                <td>{{ digital.1.item_3 }}</td>
                <td>{{ digital.1.item_4 }}</td>
              </tr>
              <tr>
                <th scope="row">{{ digital.2.name }}</th>
                <td>{{ digital.2.item_1 }}</td>
                <td>{{ digital.2.item_2 }}</td>
                <td>{{ digital.2.item_3 }}</td>
                <td>{{ digital.2.item_4 }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
