<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">

        <li class="nav-item dropdown">
            <a class="nav-link text-white mr-1.5" href="#" id="clothing-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="" class="dropdown-item">Headwear &amp; Essentials</a>
                <a href="" class="dropdown-item">Tee Shirts</a>
                <a href="" class="dropdown-item">Hoodies</a>
                <a href="" class="dropdown-item">Accessories</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link text-white mr-1.5" href="#" id="homeware-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Services
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="" class="dropdown-item">Open Shift Containers</a>
                <a href="" class="dropdown-item">CPUs &amp; GPUs</a>
                <a href="" class="dropdown-item">Connected Hubs</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link text-white" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Specials
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">Digital Twin</a>
                <a href="" class="dropdown-item">Labspace</a>
                <a href="" class="dropdown-item">UAV Training</a>
                <a href="" class="dropdown-item">Special Offers</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="text-white nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Account
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="user-options">
                {% if request.user.is_authenticated %}
                {% if request.user.is_superuser %}
                <a href="" class="dropdown-item">Product Management</a>
                {% endif %}
                <a href="" class="dropdown-item">My Profile</a>
                <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                {% else %}
                <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                {% endif %}
            </div>
        </li>

    </ul>
</div>