<!-- templates/space/labspace_list.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Labspace List</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container mt-5">
      <h2>Labspace List</h2>
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price A</th>
            <th>Price B</th>
            <th>Price C</th>
            <th>Price D</th>
          </tr>
        </thead>
        <tbody>
          {% for labspace in labspace_objects %}
          <tr>
            <td>{{ labspace.name }}</td>
            <td>{{ labspace.description }}</td>
            <td>${{ labspace.price_a }}</td>
            <td>${{ labspace.price_b }}</td>
            <td>${{ labspace.price_c }}</td>
            <td>${{ labspace.price_d }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>
</html>
