{% extends "base.html" %} {% load static %} {% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %} {% block content %}

<div class="overlay space-back-color"></div>
<div class="container-fluid">
  <div class="row">
    <div class="col text-center mt-3">
      <h2 class="logo-font">Spaces</h2>
      <hr class="w-50 mb-1" />
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="image-container my-5">
        {% if space.image_one %}
        <a href="{{ space.image.url }}" target="_blank">
          <img
            class="card-img-top image-container img-fluid"
            src="{{ spaceitem.image_one.url }}"
            alt="{{ spaceitem.name }}"
          />
        </a>
        {% else %}
        <a href="">
          <img
            class="card-img-top image-container img-fluid"
            src="{{ MEDIA_URL }}noimage.png"
            alt="{{ spaceitem.name }}"
          />
        </a>
        {% endif %}
      </div>
    </div>
    <div class="col">Office Space</div>
  </div>
  <div class="row">
    <div class="col">Lab Space</div>
  </div>

  {% endblock %}
</div>
