{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="overlay store-back-color"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col text-center mt-3">
            <h2 class="logo-font">Store</h2>
            <hr class="w-50 mb-1">
        </div>
    </div>
    <div class="row">
        <div class="store-container col-10 offset-1">
            <div class="row mt-1 mb-2"></div>
            <div class="row">
                {% for storeitem in store %}
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                    <!---->
                    <div class="card h-100 border-0 store-back-color">
                        {% if storeitem.image_one %}
                        <a href="{% url 'store_detail' storeitem.id %}">
                            <img class="card-img-top img-fluid" src="{{ storeitem.image_one.url }}"
                                alt="{{ storeitem.name }}">
                            {% if storeitem.image_two %}
                            <img class="card-img-top image-two" src="{{ storeitem.image_two.url }}"
                                alt="{{ storeitem.name }}">
                            {% endif %}
                        </a>
                        {% else %}
                        <a href="{% url 'store_detail' storeitem.id %}">
                            <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png"
                                alt="{{ storeitem.name }}">
                        </a>
                        {% endif %}
                        <div class="card-body pb-0">
                            <p class="mb-0">{{ storeitem.name }}</p>
                        </div>
                        <div class="card-footer pt-0 border-0 text-left">
                            <div class="row">
                                <div class="col">
                                    <p class="lead mb-0 text-left font-weight-bold store-back-color">
                                        ${{ storeitem.price }}</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                {% if forloop.counter|divisibleby:2 %}
                <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                    <hr>
                </div>
                {% endif %}
                {% if forloop.counter|divisibleby:3 %}
                <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                    <hr>
                </div>
                {% endif %}
                {% if forloop.counter|divisibleby:4 %}
                <div class="col-12 d-none d-xl-block mb-5">
                    <hr>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
</body>
{% endblock %}